*{
    margin: 0%;
    padding: 0%;
}

body{
    background: rgb(33, 0, 65);
}


.fakebody{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -43%;
    margin-right: 25vh;
    margin-left: 35vh;
}